{{>breadcrumbs}}
<div id="gadget-outlet" data-title="{{title}} | gadgetbuddy.com" data-description="{{node__html__pageDescription}}" data-keywords="{{node__html__pageKeywords}}" data-ogimage="{{node__html__ogImage}}">
  <div class="row">
    <div class="col-md-9">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="clear-margin">{{title}}</h2>
            </div>
            <div class="col-xs-12">

    <div class="col-xs-3">
      <div id="sidebar-outlet" class="hidden-xs hidden-sm">
      </div>
    </div>
  </div>
</div>